*/
.CFUserTextEncoding
.Rapp.history
.Rhistory
.Xauthority
.account
.anyconnect
.babel.json
.*_history*
.jslint.conf
.octave_hist
.rnd
.zshenv
.zshrc
.npmrc
.dbshell
.viminfo
.lesshst
.mongorc.js
.DS_Store
sublime
.ICEauthority
.bash_logout
.dmrc
.profile
.sudo_as_admin_successful
.xsession-errors
.xsession-errors.old
.multirust
.lmmsrc.xml
.yarnrc
.erlang.cookie
examples.desktop
pistore.desktop
.emulator_console_auth_token

!bin
!.lein

.lein/init.clj

!.ssh
.ssh/*
!.ssh/authorized_keys

!.config
!.config/htop
