*/
.CFUserTextEncoding
.Rapp.history
.Rhistory
.Xauthority
.account
.anyconnect
.babel.json
.bash_history
.coffee_history
.jslint.conf
.octave_hist
.psql_history
.rediscli_history
.rnd
.zshenv
.zshrc
.npmrc
.dbshell
.viminfo
.lesshst
.mongorc.js
.mysql_history
.node_repl_history
.DS_Store
.julia_history
.lein/repl-history
.python_history
.sqlite_history
sublime
.ICEauthority
.bash_logout
.dmrc
.profile
.sudo_as_admin_successful
.xsession-errors
.xsession-errors.old
examples.desktop


!bin
!.lein

.lein/init.clj
