*/
.CFUserTextEncoding
.Rapp.history
.Rhistory
.Xauthority
.account
.anyconnect
.babel.json
.bash_history
.coffee_history
.jslint.conf
.octave_hist
.psql_history
.rediscli_history
.rnd
.zshenv
.zshrc
.npmrc

!bin
